html {
    scroll-behavior: smooth;
}

body {
    display: block;
    text-align: center;
}

li {
    display: inline-block;
    padding-left: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, footer {
    text-align: center;
}

.members {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    width: 50%;
}

@media screen and (min-width: 320px) {
    .members {
        display: inline-block;
        width: 100%;
        border: 2px solid black;
    }
    .members img {
        width: 100%;
    }
}