html {
    scroll-behavior: smooth;
}

body {
    display: block;
    text-align: center;
    margin: 0%;
    color: #fff;
}

.navbar-container {
    height: 9vh;
    position: sticky;
    background: #eaec69;
    top: 0;
    width: 100%;
    text-decoration: none;
    z-index: 1;
    padding: 0.1rem;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #639bc9;
}

.divisions {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.division1 {
    /*background-image: url(bg-green.jpg);*/
    background-color: #6ecc82;
}
.division2 {
    background-color: #be4848;
}
.division3 {
    background-color: white;
    color: black;
}
.division4 {
    background-color: #639bc9;
}

h1, 
h2, 
footer {
    text-align: center;
}

footer {
    color: black
}

.team {
    padding-top: 5%;
}

.members {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    text-align: center;
    max-width: 250px;
    width: 50%;
    height: 100vh;
    padding: 0.6%;
}

.members img {
    border-radius: 50%;
    max-width: 70%;
}

@media screen and (min-width: 320px) {
    .members {
        display: inline-block;
        width: 100%;
    }
    .members img {
        width: 100%;
    }
}