@import url('https://fonts.googleapis.com/css?family=Mansalva|Quicksand&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    text-align: center;
    margin: 0%;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, .navbar {
    font-family: 'Mansalva', cursive;
}

h1, h2, footer {
    text-align: center;
}

.main {
    font-size: 5rem;
}

.red {
    color:#be4848;
}

.blue {
    color: #639bc9;
}

.yellow {
    color: #eaec69;
}

.navbar-container {
    height: 9vh;
    position: sticky;
    background: #eaec69;
    top: 0;
    width: 100%;
    text-decoration: none;
    z-index: 1;
    padding: 0.1rem;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #639bc9;
}

.divisions {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.division1 {
    /*background-image: url(bg-green.jpg);*/
    background-color: #6ecc82;
}
.division2 {
    background-color: #be4848;
}
.division3 {
    background-color: white;
    color: black;
    min-height: 100vh;
}
.division4 {
    background-color: #639bc9;
}


footer {
    background-color: #eaec69;
    color: black;
    padding: 15px;
}

.team {
    padding-top: 5%;
}

.team {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
  
}

.members {
    display: flex;
    max-width: 250px;
    width: 50%;
    padding: 0.6%;
    margin:20px;
    border-radius:10px;
}
    

.members img {
    border-radius: 50%;
    max-width: 70%;
}

.ayub {
    background-color: #be4848;
    height:50vh;
}

.nikke {
    background-color: #eaec69;
    height:50vh;    
}

.renata {
    background-color: #6ecc82;
    height:50vh;
}

.jamie {
    background-color: #639bc9;
    height:50vh;
}

@media screen and (min-width: 320px) {
    .members {
        display: inline-block;
        width: 100%;
    }
    .members img {
        width: 100%;
    }
}

label {
    font-size: 1.5rem;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    width: 40vmax;
    height: 5vh;
    margin-top: 10px;
    margin-bottom:10px;
}

#message {
    font-family: 'Quicksand', sans-serif;
    height: 25vh;
    width:40vmax;
    font-size:1.5rem;
    margin-top: 10px;
    padding-top:10px;
}

.submit {
    width: 20vmax;
    height: 3rem;
    font-size: 1.5rem;
    background-color: white;
    color: #639bc9;
    padding: 0px;
}

.submit:hover {
    color:#be4848;
}

.submit:active {
    color: #6ecc82;
}

form {
    width:40vmax;
    text-align: left;
}

 #scroll-up {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
    cursor: pointer; 
    padding: 10px; 
    border-radius: 40%; 
    font-size: 20px;
  }
  
  #scroll-up:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
  }
